body {
	text-align:center;
	background-color:#666;
	margin:0;
	font-family:"Lucida Console", Monaco, monospace;
}
#cont {
	display:inline-block;
	background-color:#0099e6;
	padding:20px;
}
#console {
	font-family:"Lucida Console", Monaco, monospace;
	font-size:12px;
	
}
#pos {
	width:300px;
	height:1000px;
	float:left;
	background-color:#FFF;
}
h2 {
	background-color:#000;
	margin:0;
	color:#FFF;
}
#header {
	background-color:#000;
	color:white;
	font-size:40px;
	padding:10px;
	margin:0;
	text-align:center;
	font-family:impact;
}
.hidden {
	background-color:#333;
	color:#333;
}
.caution {
	background-color:#ff944d;
	color:#ff944d;
}
.danger {
	background-color:#990000;
	color:#990000;
}
table {
	margin: auto;
	/* [disabled]display:inline-block; */
}
table,tr,td {
	border:2px solid #005580;
	background-color:#99ddff;
}
td {
	width:85px;
	height:85px;
	text-align:center;
}
button {
	display:inline-block;
}
input {
	display:inline-block;
	width:30px;
	text-align:center;
}